<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.pam.cibs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cibs">
        <activity
            android:name=".Info_Users"
            android:exported="false" />
        <activity
            android:name=".User_EditProfile"
            android:exported="false" />
        <activity
            android:name=".My_Profile"
            android:exported="false" />
        <activity
            android:name=".CategorySearch"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".CategoriesList"
            android:exported="false" />
        <activity
            android:name=".MessageWelcomePage"
            android:exported="false" />
        <activity
            android:name=".LoginSecondStape"
            android:exported="false" />
        <activity
            android:name=".LoginFirstStape"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>